$gradient-color-1: #17a2b8;
$gradient-color-2: #0c8aa0;
$dark-color: #4a4a4a;
$max-width: 1100px;

// Set text color based on background
@function set-text-color($color) {
  @if (lightness($color) > 60) {
    @return #333;
  } @else {
    @return #fff;
  }
}

// Set background & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

// Margin & Padding
$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
  // All around margin
  .m-#{$space} {
    margin: #{$space}rem;
  }

  // Vertical Margin
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .mb-#{$space} {
    margin-bottom: #{$space}rem;
  }

  .mt-#{$space} {
    margin-top: #{$space}rem;
  }

  // All around Padding
  .p-#{$space} {
    padding: #{$space}rem;
  }

  // Vertical Padding
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}

// Hide Mobile
.hide-mobile {
  display: none;
}
