@media (min-width: 430px) {
  header {
    width: calc(100vw - 3rem);
    top: 1.5rem;
    left: 1.5rem;
    border-radius: 7px;
    p {
      width: 400px;
    }
    .cta {
      width: 350px;
      align-self: center;
    }
  }
  .show-desktop {
    display: block;
  }
}
